/* 普通分页条,非JS分页条的样式*/
.pager_box {
    margin: 26px 10px 11px;
}
.pager_box ul {
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #ff9c28;
    float:right;
}

.pager_box  ul li {
    display: block;
    list-style:none;
    float:left;
    /*border:1px solid #ffe3c6;*/
    text-decoration: none;
    margin:0 2px 0 0;
    padding:2px;
}

.pager_box ul li:hover {
    border:1px solid #ff9c28;
}

.pager_box ul .pgEmpty {
    cursor: default;

}