<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">

<div class="main_info">
    <div class="box_full">
        <span> >> <a class="top_nav" data-url="/sys/func/list">功能模块管理</a>
            <a class="top_nav" th:each="parent:${parentStack}"  data-th-data-url="'/sys/func/childs/'+${parent.id}"
               th:text="' -- '+${parent.funcName}">用户管理</a>
        </span>
        <br/>
        <div class="float-right">
            <button onclick="editer('/sys/func/edit_box/0');" class="layui-btn layui-btn-xs">+顶层功能</button>
        </div>
        <table width="100%" id="moudleTable" class="layui-table" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>功能名称</th>
                <th width="40%">功能URL</a></th>
                <th width="10%">功能状态</th>
                <th width="15%">操作</a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="func:${funcList}" data-th-id="${func.id }" data-th-pid="${func.parentId}">
                <td><i th:if=${func.hasChilds} class="layui-icon layui-tree-spread"></i>
                    <a class="show_childs" href="#" data-th-data-haschilds="${func.hasChilds}" data-th-data-url="'/sys/func/childs/'+${func.id}" th:text="${func.funcName}"></a>
                </td>
                <td width="40%" th:text="${func.funcUrl}">&nbsp;功能URL</td>
                <td width="10%" th:text="${func.action eq 1?'启用中':'已禁用'}">功能状态</td>
                <td width="15%">
                    <button data-th-data-edit="'/sys/func/edit_box/'+${func.id}" class="func_edit layui-btn layui-btn-xs">+子功能</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(".top_nav").click(function (e) {
        var url = $(this).data('url');
//        console.log(url);
        pageTo(url);
    }) ;
    $(".show_childs").click(function (e) {
        var url = $(this).data('url');
        var hasChilds = $(this).data('haschilds');
//        console.log(hasChilds);
        if(hasChilds){
            pageTo(url);
        }
    }) ;

    var pageTo = function (url) {
//        console.log(url);
        route(url);  // URL 发送到路由
    }

    $(".func_edit").click(function (e) {
        var url = $(this).data('edit');
//        console.log(url);
        editer(url);
    }) ;

    //新增或编辑功能菜单信息
    var editer = function (url) {
        $.get(url, {}, function (edit_from) {
            layer.open({
                type: 1,
                title: '新增或编辑功能菜单',
                content: edit_from
            });
        });
    }
</script>

